In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [4]:
df = sns.load_dataset("titanic")

In [5]:
df['sex'] = df['sex'].map({"male":0,"female":1})
df['class'] = df['class'].map({"First":1,"Second":2,"Third":3})

In [6]:
X = df.drop("survived", axis=1)
y = df["survived"]

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [9]:
print(f"X_train: {X_train}")
print(f"X_test: {X_test}")
print(f"y_train: {y_train}")
print(f"y_test: {y_test}")

X_train:      pclass  sex   age  sibsp  parch  ...  adult_male deck  embark_town alive  alone
331       1    0  45.5      0      0  ...        True    C  Southampton    no   True
733       2    0  23.0      0      0  ...        True  NaN  Southampton    no   True
382       3    0  32.0      0      0  ...        True  NaN  Southampton    no   True
704       3    0  26.0      1      0  ...        True  NaN  Southampton    no  False
813       3    1   6.0      4      2  ...       False  NaN  Southampton    no  False
..      ...  ...   ...    ...    ...  ...         ...  ...          ...   ...    ...
106       3    1  21.0      0      0  ...       False  NaN  Southampton   yes   True
270       1    0   NaN      0      0  ...        True  NaN  Southampton    no   True
860       3    0  41.0      2      0  ...        True  NaN  Southampton    no  False
435       1    1  14.0      1      2  ...       False    B  Southampton   yes  False
102       1    0  21.0      0      1  ...        True    D  Southampton    no  False

[712 rows x 14 columns]
X_test:      pclass  sex   age  sibsp  parch  ...  adult_male deck  embark_town alive  alone
709       3    0   NaN      1      1  ...        True  NaN    Cherbourg   yes  False
439       2    0  31.0      0      0  ...        True  NaN  Southampton    no   True
840       3    0  20.0      0      0  ...        True  NaN  Southampton    no   True
720       2    1   6.0      0      1  ...       False  NaN  Southampton   yes  False
39        3    1  14.0      1      0  ...       False  NaN    Cherbourg   yes  False
..      ...  ...   ...    ...    ...  ...         ...  ...          ...   ...    ...
433       3    0  17.0      0      0  ...        True  NaN  Southampton    no   True
773       3    0   NaN      0      0  ...        True  NaN    Cherbourg    no   True
25        3    1  38.0      1      5  ...       False  NaN  Southampton   yes  False
84        2    1  17.0      0      0  ...       False  NaN  Southampton   yes   True
10        3    1   4.0      1      1  ...       False    G  Southampton   yes  False

[179 rows x 14 columns]
y_train: 331    0
733    0
382    0
704    0
813    0
      ..
106    1
270    0
860    0
435    1
102    0
Name: survived, Length: 712, dtype: int64
y_test: 709    1
439    0
840    0
720    1
39     1
      ..
433    0
773    0
25     1
84     1
10     1
Name: survived, Length: 179, dtype: int64