In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("/kaggle/input/netflix/NetFlix.csv")

In [3]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,5-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,1-Mar-16,2016,R,90,Comedies,New NFL star Thad buys his old teammates' belo...
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,United Kingdom,3-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV",This sequel to the award-winning nature series...

In [4]:
df.info

<bound method DataFrame.info of      show_id     type                                      title  \
0         s1  TV Show                                         3%
1        s10    Movie                                       1920
2       s100    Movie                                 3 Heroines
3      s1000    Movie  Blue Mountain State: The Rise of Thadland
4      s1001  TV Show                             Blue Planet II
...      ...      ...                                        ...
7782    s995  TV Show                                 Blown Away
7783    s996  TV Show                              Blue Exorcist
7784    s997    Movie                  Blue Is the Warmest Color
7785    s998    Movie                               Blue Jasmine
7786    s999    Movie                                   Blue Jay

                 director                                               cast  \
0                     NaN  João Miguel, Bianca Comparato, Michel Gomes, R...
1            Vikram Bhatt  Rajneesh Duggal, Adah Sharma, Indraneil Sengup...
2          Iman Brotoseno  Reza Rahadian, Bunga Citra Lestari, Tara Basro...
3            Lev L. Spiro  Alan Ritchson, Darin Brooks, James Cade, Rob R...
4                     NaN                                 David Attenborough
...                   ...                                                ...
7782                  NaN                                                NaN
7783                  NaN  Nobuhiko Okamoto, Jun Fukuyama, Kana Hanazawa,...
7784  Abdellatif Kechiche  Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...
7785          Woody Allen  Cate Blanchett, Sally Hawkins, Alec Baldwin, L...
7786         Alex Lehmann           Sarah Paulson, Mark Duplass, Clu Gulager

                     country date_added  release_year rating  duration  \
0                     Brazil  14-Aug-20          2020  TV-MA         4
1                      India  15-Dec-17          2008  TV-MA       143
2                  Indonesia   5-Jan-19          2016  TV-PG       124
3              United States   1-Mar-16          2016      R        90
4             United Kingdom   3-Dec-18          2017   TV-G         1
...                      ...        ...           ...    ...       ...
7782                  Canada  12-Jul-19          2019  TV-14         1
7783                   Japan   1-Sep-20          2017  TV-MA         2
7784  France, Belgium, Spain  26-Aug-16          2013  NC-17       180
7785           United States   8-Mar-19          2013  PG-13        98
7786           United States   6-Dec-16          2016  TV-MA        81

                                                 genres  \
0     International TV Shows, TV Dramas, TV Sci-Fi &...
1        Horror Movies, International Movies, Thrillers
2           Dramas, International Movies, Sports Movies
3                                              Comedies
4     British TV Shows, Docuseries, Science & Nature TV
...                                                 ...
7782                 International TV Shows, Reality TV
7783               Anime Series, International TV Shows
7784   Dramas, Independent Movies, International Movies
7785               Comedies, Dramas, Independent Movies
7786        Dramas, Independent Movies, Romantic Movies

                                            description
0     In a future where the elite inhabit an island ...
1     An architect and his wife move into a castle t...
2     Three Indonesian women break records by becomi...
3     New NFL star Thad buys his old teammates' belo...
4     This sequel to the award-winning nature series...
...                                                 ...
7782  Ten master artists turn up the heat in glassbl...
7783  Determined to throw off the curse of being Sat...
7784  Determined to fall in love, 15-year-old Adele ...
7785  The high life leads to high anxiety for a fash...
7786  Two former high school sweethearts unexpectedl...

[7787 rows x 12 columns]>

In [5]:
df.describe

<bound method NDFrame.describe of      show_id     type                                      title  \
0         s1  TV Show                                         3%
1        s10    Movie                                       1920
2       s100    Movie                                 3 Heroines
3      s1000    Movie  Blue Mountain State: The Rise of Thadland
4      s1001  TV Show                             Blue Planet II
...      ...      ...                                        ...
7782    s995  TV Show                                 Blown Away
7783    s996  TV Show                              Blue Exorcist
7784    s997    Movie                  Blue Is the Warmest Color
7785    s998    Movie                               Blue Jasmine
7786    s999    Movie                                   Blue Jay

                 director                                               cast  \
0                     NaN  João Miguel, Bianca Comparato, Michel Gomes, R...
1            Vikram Bhatt  Rajneesh Duggal, Adah Sharma, Indraneil Sengup...
2          Iman Brotoseno  Reza Rahadian, Bunga Citra Lestari, Tara Basro...
3            Lev L. Spiro  Alan Ritchson, Darin Brooks, James Cade, Rob R...
4                     NaN                                 David Attenborough
...                   ...                                                ...
7782                  NaN                                                NaN
7783                  NaN  Nobuhiko Okamoto, Jun Fukuyama, Kana Hanazawa,...
7784  Abdellatif Kechiche  Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...
7785          Woody Allen  Cate Blanchett, Sally Hawkins, Alec Baldwin, L...
7786         Alex Lehmann           Sarah Paulson, Mark Duplass, Clu Gulager

                     country date_added  release_year rating  duration  \
0                     Brazil  14-Aug-20          2020  TV-MA         4
1                      India  15-Dec-17          2008  TV-MA       143
2                  Indonesia   5-Jan-19          2016  TV-PG       124
3              United States   1-Mar-16          2016      R        90
4             United Kingdom   3-Dec-18          2017   TV-G         1
...                      ...        ...           ...    ...       ...
7782                  Canada  12-Jul-19          2019  TV-14         1
7783                   Japan   1-Sep-20          2017  TV-MA         2
7784  France, Belgium, Spain  26-Aug-16          2013  NC-17       180
7785           United States   8-Mar-19          2013  PG-13        98
7786           United States   6-Dec-16          2016  TV-MA        81

                                                 genres  \
0     International TV Shows, TV Dramas, TV Sci-Fi &...
1        Horror Movies, International Movies, Thrillers
2           Dramas, International Movies, Sports Movies
3                                              Comedies
4     British TV Shows, Docuseries, Science & Nature TV
...                                                 ...
7782                 International TV Shows, Reality TV
7783               Anime Series, International TV Shows
7784   Dramas, Independent Movies, International Movies
7785               Comedies, Dramas, Independent Movies
7786        Dramas, Independent Movies, Romantic Movies

                                            description
0     In a future where the elite inhabit an island ...
1     An architect and his wife move into a castle t...
2     Three Indonesian women break records by becomi...
3     New NFL star Thad buys his old teammates' belo...
4     This sequel to the award-winning nature series...
...                                                 ...
7782  Ten master artists turn up the heat in glassbl...
7783  Determined to throw off the curse of being Sat...
7784  Determined to fall in love, 15-year-old Adele ...
7785  The high life leads to high anxiety for a fash...
7786  Two former high school sweethearts unexpectedl...

[7787 rows x 12 columns]>

In [6]:
print(df.isnull().sum())
print(df.dtypes)

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
genres             0
description        0
dtype: int64
show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration         int64
genres          object
description     object
dtype: object

In [7]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'genres', 'description'],
      dtype='object')

In [8]:
for column in df.columns:
    col_size = df[column].size
    df_
    print(f"{column}: {col_size}")

NameError: name 'df_' is not defined

In [ ]:
df['date_added'] = pd.to_datetime(df['date_added'], format='%B %d, %Y', errors='coerce')

In [ ]:
df["director"] = df["director"].fillna("Unknown")
df["cast"] = df["cast"].fillna("Unknown")
df["country"] = df["country"].fillna("Unknown")
df["rating"] = df["rating"].fillna("Not Rated")

In [ ]:
df.head()

In [ ]:
import matplotlib