# ðŸ“˜ Day 6 â€“ Hypothesis Testing

## --- Imports ---

In [2]:
import numpy as np
import pandas as pd
from scipy import stats

## --- 1. Null & Alternative Hypotheses ---
### Example: We want to test if two groups have the same mean.

In [3]:
group1 = np.random.normal(50,5,30)
group2 = np.random.normal(52,5,30)

print(f"Group1:\n{group1}")
print(f"Group2:\n{group2}")

Group1:
[60.4600808  48.3509891  53.8941511  47.82816885 53.47407087 45.54226644
 52.46262817 51.18437657 52.09616032 56.70220564 47.86828027 45.81766269
 50.7996255  57.80428413 48.24199172 47.95198887 51.73436893 50.89255545
 48.59746711 44.48402148 46.79271029 44.46039075 43.48137899 52.64237208
 49.71869165 53.27628552 47.7390098  53.45278284 47.13181066 56.89926918]
Group2:
[43.68052977 51.47475444 61.99249665 46.66423269 55.5368591  49.80315278
 53.17240224 48.43117741 49.85254444 53.93517151 55.86396969 46.62379479
 62.20730569 56.02528595 45.61160957 39.19525822 60.58243462 53.77905049
 51.35327156 53.99865093 53.66941643 58.04027418 39.85372183 53.49854446
 50.76164979 61.94701364 45.01249301 56.01333916 55.00092968 48.78440883]

In [4]:
print(f"Group1 mean:\n{np.mean(group1)}")
print(f"Group2 mean:\n{np.mean(group2)}")

Group1 mean:
50.39273485863401
Group2 mean:
52.078858118499085

## --- 2. Two-sample t-test ---

In [8]:
t_stat, p_val = stats.ttest_ind(group1, group2)

In [9]:
print("\n--- Two-sample t-test ---")
print("T-statistic:", t_stat)
print("P-value:", p_val)

--- Two-sample t-test ---
T-statistic: -1.251672995566361
P-value: 0.2157136539099562

In [10]:
if p_val < 0.05:
    print("Reject Null Hypothesis (significant difference)")
else:
    print("Fail to Reject Null Hypothesis (no significant difference)")

Fail to Reject Null Hypothesis (no significant difference)

## --- 3. Chi-Square Test ---
### Example: Contingency table (categorical data)

In [11]:
data = np.array([[10, 20, 30],
                 [6,  9,  17]])

In [12]:
chi2, p, dof, expected = stats.chi2_contingency(data)

In [13]:
print("\n--- Chi-Square Test ---")
print("Chi2 Statistic:", chi2)
print("P-value:", p)
print("Degrees of freedom:", dof)
print("Expected values:\n", expected)

--- Chi-Square Test ---
Chi2 Statistic: 0.27157465150403504
P-value: 0.873028283380073
Degrees of freedom: 2
Expected values:
 [[10.43478261 18.91304348 30.65217391]
 [ 5.56521739 10.08695652 16.34782609]]

## --- 4. One-way ANOVA ---

In [14]:
groupA = np.random.normal(50, 5, 30)
groupB = np.random.normal(52, 5, 30)
groupC = np.random.normal(54, 5, 30)

In [15]:
f_stat, p_val = stats.f_oneway(groupA, groupB, groupC)

In [16]:
print("\n--- One-way ANOVA ---")
print("F-statistic:", f_stat)
print("P-value:", p_val)

--- One-way ANOVA ---
F-statistic: 3.3115449109374695
P-value: 0.04110818440319921

In [17]:
if p_val < 0.05:
    print("Reject Null Hypothesis (at least one group mean differs)")
else:
    print("Fail to Reject Null Hypothesis (means are equal)")

Reject Null Hypothesis (at least one group mean differs)